.containerTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.menu {
    margin-top: 1px;
}

table th, table td {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    border: 1px solid #7a7;
}

table tr {
    text-align: center;
}

ul li {
    list-style-type: none;
    text-align: left;
    width: 150px;
    padding: 0;
}

.lastColumnClass {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.circular.icon.button {
    margin: 10px;
    padding: 15px;
}